<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zz.sdk"
    android:versionCode="36"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <!-- SDK 需要的权限列表 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 需要短信支付才配置 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 接收短信的权限，用于显示 支付宝、财付通 的验证码短信，可选 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 游戏服务器ID，由SDK方提供 -->
        <meta-data
            android:name="SERVER_ID"
            android:value="M1002A" />

        <!-- 项目ID，由SDK方提供 -->
        <meta-data
            android:name="PROJECT_ID"
            android:value="P10002A" />
        <!-- 产品ID,由SDK方提供 -->
        <meta-data
            android:name="PRODUCT_ID"
            android:value="D10002" />
        <!-- SDK 的窗体 -->
        <activity
            android:name="com.zz.sdk.out.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.zz.sdk.out.activity.ChargeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.zz.sdk.out.activity.PayOnlineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>

        <!-- 银联窗体，依赖风格文件 unionpay_style.xml -->
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UPPay" />

        <!-- 演示窗体 -->
        <activity
            android:name="com.zz.sdk.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 仅用于奇虎360平台 -->
        <activity
            android:name="com.zz.sdk.out.activity.LoginForQiFunForQiFu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.qihoopay.insdk.activity.ContainerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.qihoopay.insdk.activity.RemoteContainerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:process=":remote"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="QHOPENSDK_APPID"
            android:value="200632826" >
        </meta-data>
        <meta-data
            android:name="QHOPENSDK_APPKEY"
            android:value="4ebf535fe5749b77a26cf8971733aa73" >
        </meta-data>
        <meta-data
            android:name="QHOPENSDK_PRIVATEKEY"
            android:value="321eb8e6a3c4e1a0d72b5545a283319d" >
        </meta-data>
        <meta-data
            android:name="QHOPENSDK_CHANNEL"
            android:value="default" >
        </meta-data>

        <activity
            android:name="com.zz.sdk.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>